<div id="<%= dom_id anthropology %>">
  <p>
    <strong>Sex morph:</strong>
    <%= anthropology.sex_morph %>
  </p>

  <p>
    <strong>Sex gen:</strong>
    <%= anthropology.sex_gen %>
  </p>

  <p>
    <strong>Sex consensus:</strong>
    <%= anthropology.sex_consensus %>
  </p>

  <p>
    <strong>Age as reported:</strong>
    <%= anthropology.age_as_reported %>
  </p>

  <p>
    <strong>Age class:</strong>
    <%= anthropology.age_class %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= anthropology.height %>
  </p>

  <p>
    <strong>Pathologies:</strong>
    <%= anthropology.pathologies %>
  </p>

  <p>
    <strong>Pathologies type:</strong>
    <%= anthropology.pathologies_type %>
  </p>

</div>
