<%= simple_form_for(@anthropology) do |f| %>
  <%= f.error_notification %>
  <%= if f.object.errors[:base].present?
    f.error_notification message: f.object.errors[:base].to_sentence
  end %>

  <div class="form-inputs">
    <%= f.input :sex_morph %>
    <%= f.input :sex_gen %>
    <%= f.input :sex_consensus %>
    <%= f.input :age_as_reported %>
    <%= f.input :age_class %>
    <%= f.input :height %>
    <%= f.input :pathologies %>
    <%= f.input :pathologies_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
