<div
  class='col-md-6'
  data-id='figure-view'
  id='figure-view'
  <%
=begin%>
 style='padding-top: 20px;'
<%
=end%>
>
<h3 style='text-align: center'><%= @title %> (n = <%= @graves.filter { !_1.manual_bounding_box }.length %>)</h3>
<h4 style='text-align: center'><%= @subtitle %></h4>

<svg
  style='touch-action: none; user-select: none;'
  data-controller='figure'
  viewBox='0 0 4000 4000'
  shape-rendering="auto"
  preserveAspectRatio="xMidYMid meet"
  xmlns="http://www.w3.org/2000/svg">
  <% @graves.filter { !_1.manual_bounding_box }.each do |grave| %>
    <polyline stroke='<%= @color %>' stroke-width='4' stroke-opacity='1' points="<%= grave.size_normalized_contour(x_width: 2, y_width: 2).map { |x, y| "#{x},#{y}" }.join(' ') %>" fill="none" />
  <% end %>
</svg>

</div>
