<div
  class='col-md-6'
  data-id='figure-view'
  id='figure-view'
  style='padding-top: 20px;'
>

<svg
  style='touch-action: none; user-select: none;'
  data-controller='figure'
  viewBox='0 0 200 200'
  shape-rendering="auto"
  preserveAspectRatio="xMidYMid meet"
  xmlns="http://www.w3.org/2000/svg">
  <% @contours.each do |contour| %>
    <polyline stroke='<%= @color %>' stroke-width='0.5' stroke-opacity='1' points="<%= contour.map { |x, y| "#{x},#{y}" }.join(' ') %>" fill="none" />
  <% end %>

  <%= (0..100).step(20) do |index| %>
    <% color1 = cycle('black', 'white') %>
    <% color2 = if color1 == 'black' then 'white' else 'black' end %>
    <rect stroke-width='1' x=<%= index %> y="0" width="20" height="20" fill="<%= color1 %>" stroke="black" />
    <rect stroke-width='1' x=<%= index %> y="20" width="20" height="20" fill="<%= color2 %>" stroke="black" />
  <% end %>

  <text x="125" y="20" class="small">100mm</text>
</svg>

</div>
