<div id="<%= dom_id c14_date %>">
  <p>
    <strong>C14 type:</strong>
    <%= c14_date.c14_type %>
  </p>

  <p>
    <strong>Lab:</strong>
    <%= c14_date.lab_id %>
  </p>

  <p>
    <strong>Age bp:</strong>
    <%= c14_date.age_bp %>
  </p>

  <p>
    <strong>Interval:</strong>
    <%= c14_date.interval %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= c14_date.material %>
  </p>

  <p>
    <strong>Calbc 1sigma max:</strong>
    <%= c14_date.calbc_1sigma_max %>
  </p>

  <p>
    <strong>Calbc 1 sigma min:</strong>
    <%= c14_date.calbc_1_sigma_min %>
  </p>

  <p>
    <strong>Calbc 2sigma max:</strong>
    <%= c14_date.calbc_2sigma_max %>
  </p>

  <p>
    <strong>Calbc 2sigma min:</strong>
    <%= c14_date.calbc_2sigma_min %>
  </p>

  <p>
    <strong>Date note:</strong>
    <%= c14_date.date_note %>
  </p>

  <p>
    <strong>Cal method:</strong>
    <%= c14_date.cal_method %>
  </p>

  <p>
    <strong>Ref 14c:</strong>
    <%= c14_date.ref_14c %>
  </p>

</div>
