<p style="color: green"><%= notice %></p>

<%= render @c14_date %>

<div>
  <%= link_to "Edit this c14 date", edit_c14_date_path(@c14_date) %>
  |
  <%= link_to "Back to c14 dates", c14_dates_path %>

  <%= button_to "Destroy this c14 date", @c14_date, method: :delete %>
</div>
