<%= simple_form_for(@stable_isotope) do |f| %>
  <%= f.error_notification %>
  <%= if f.object.errors[:base].present?
    f.error_notification message: f.object.errors[:base].to_sentence
  end %>

  <div class="form-inputs">
    <%= f.association :skeleton %>
    <%= f.input :iso_id %>
    <%= f.input :iso_bone %>
    <%= f.input :iso_value %>
    <%= f.input :ref_iso %>
    <%= f.input :isotope %>
    <%= f.input :baseline %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
