<div id="<%= dom_id stable_isotope %>">
  <p>
    <strong>Skeleton:</strong>
    <%= stable_isotope.skeleton_id %>
  </p>

  <p>
    <strong>Iso:</strong>
    <%= stable_isotope.iso_id %>
  </p>

  <p>
    <strong>Iso bone:</strong>
    <%= stable_isotope.iso_bone %>
  </p>

  <p>
    <strong>Iso value:</strong>
    <%= stable_isotope.iso_value %>
  </p>

  <p>
    <strong>Ref iso:</strong>
    <%= stable_isotope.ref_iso %>
  </p>

  <p>
    <strong>Isotope:</strong>
    <%= stable_isotope.isotope %>
  </p>

  <p>
    <strong>Baseline:</strong>
    <%= stable_isotope.baseline %>
  </p>

</div>
