<p style="color: green"><%= notice %></p>

<%= render @stable_isotope %>

<div>
  <%= link_to "Edit this stable isotope", edit_stable_isotope_path(@stable_isotope) %>
  |
  <%= link_to "Back to stable isotopes", stable_isotopes_path %>

  <%= button_to "Destroy this stable isotope", @stable_isotope, method: :delete %>
</div>
