<div id="<%= dom_id figure %>">
  <p>
    <strong>Page:</strong>
    <%= figure.page_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= figure.image_id %>
  </p>

  <p>
    <strong>Shape:</strong>
    <%= figure.shape %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= figure.tags %>
  </p>

</div>
