<%= form_with(model: figure) do |form| %>
  <% if figure.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(figure.errors.count, "error") %>
        prohibited this figure from being saved:</h2>

      <ul>
        <% figure.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :page_id, style: "display: block" %>
    <%= form.text_field :page_id %>
  </div>

  <div>
    <%= form.label :image_id, style: "display: block" %>
    <%= form.text_field :image_id %>
  </div>

  <div>
    <%= form.label :shape, style: "display: block" %>
    <%= form.text_field :shape %>
  </div>

  <div>
    <%= form.label :tags, style: "display: block" %>
    <%= form.text_field :tags %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
