<div id="<%= dom_id genetic %>">
  <p>
    <strong>Data type:</strong>
    <%= genetic.data_type %>
  </p>

  <p>
    <strong>End content:</strong>
    <%= genetic.end_content %>
  </p>

  <p>
    <strong>Ref gen:</strong>
    <%= genetic.ref_gen %>
  </p>

  <p>
    <strong>Skeleton:</strong>
    <%= genetic.skeleton_id %>
  </p>

</div>
