<%= simple_form_for :search, url: graves_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :publication_id,
          collection:
            Publication
              .accessible_by(current_ability)
              .order(:author, :year)
              .pluck(:author, :year, :id)
              .map { |author, year, id| ["#{author} #{year}", id] },
              include_blank: true,
              selected: params.dig(:search, :publication_id) %>
  <%= f.input :site_id, collection: Site.order(:name).pluck(:name, :id), selected: params.dig(:search, :site_id), include_blank: true %>
  <%= f.submit "Filter", class: "btn btn-primary" %>
<% end %>

<table class='table'>
  <thead>
    <tr>
      <th>
        <%= link_to('Publication', url_for(params.permit!.to_h.merge({ sort: publication_sort }))) %>
      </th>
      <th>
        <%= link_to('Site', url_for(params.permit!.to_h.merge({ sort: site_sort }))) %>
      </th>
      <th>
        <%= link_to('ID', url_for(params.permit!.to_h.merge({ sort: id_sort }))) %>
      </th>
      <th>
        <%= link_to('Area', url_for(params.permit!.to_h.merge({ sort: area_sort }))) %>
      </th>
      <th>
        <%= link_to('Perimeter', url_for(params.permit!.to_h.merge({ sort: perimeter_sort }))) %>
      </th>
      <th>
        <%= link_to('Width', url_for(params.permit!.to_h.merge({ sort: width_sort }))) %>
      </th>
      <th>
        <%= link_to('Length', url_for(params.permit!.to_h.merge({ sort: length_sort }))) %>
      </th>
      <th>
        Tag
      </th>
      <th>Orientation [Grave]</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @graves.each do |grave| %>
      <tr>
        <td><%= grave.publication.author %> <%= grave.publication.year %></td>
        <td><%= grave.site&.name %></td>
        <td><%= grave.identifier %></td>
        <td><%= raw number_with_unit grave.area_with_unit %></td>
        <td><%= number_with_unit grave.perimeter_with_unit %></td>
        <td>
          <% if grave.bounding_box_width.present? %>
            <%= number_with_unit grave.bounding_box_width_with_unit %>
          <% else %>
            <%= number_with_unit grave.width_with_unit %>
          <% end %>
        </td>
        <td>
          <% if grave.bounding_box_height.present? %>
            <%= number_with_unit grave.bounding_box_height_with_unit %>
          <% else %>
            <%= number_with_unit grave.height_with_unit %>
          <% end %>
        </td>
        <td><%= grave.tags.map { _1.name }.join(' ') %></td>
        <td>
          <% unless grave&.arrow&.angle.nil? %>
            <%= ((grave.angle.abs.round + grave.arrow.angle) % 180).round %>
            deg
          <% end %>
        </td>
        <td><%= link_to("Edit", grave_update_grave_path(grave, :set_grave_data)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_combo_nav_js(@graves_pagy) %>
