<p style="color: green"><%= notice %></p>

<%= render @kurgan %>

<div>
  <%= link_to "Edit this kurgan", edit_kurgan_path(@kurgan) %>
  |
  <%= link_to "Back to kurgans", kurgans_path %>

  <%= button_to "Destroy this kurgan", @kurgan, method: :delete %>
</div>
