<p style="color: green"><%= notice %></p>

<%= render @y_haplogroup %>

<div>
  <%= link_to "Edit this y haplogroup", edit_y_haplogroup_path(@y_haplogroup) %>
  |
  <%= link_to "Back to y haplogroups", y_haplogroups_path %>

  <%= button_to "Destroy this y haplogroup", @y_haplogroup, method: :delete %>
</div>
