<div class='container'>
  <%= simple_form_for(upload) do |f| %>
    <%= f.input :zip, as: :file %>
    <%= f.input :name %>
    <%= f.input :strain_id, collection: Strain.order(:name).pluck(:name, :id) %>
    <%= f.input :site, collection: Site.order(:name).pluck(:name, :id) %>
    <%= f.submit(class: "btn btn-primary") %>
  <% end %>
</div>
