<h1>Publications</h1>

<table class='table'>
  <thead>
    <tr>
      <th>
        <%= link_to('Name', url_for(params.permit!.to_h.merge({ sort: sortable_by('name') }))) %>
      </th>
      <th>
        <%= link_to('Site', url_for(params.permit!.to_h.merge({ sort: sortable_by('author') }))) %>
      </th>
      <th>
        <%= link_to('Species', url_for(params.permit!.to_h.merge({ sort: sortable_by('year') }))) %>
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td>
          <%= publication.name %>
        </td>
        <td>
          <%= publication.site&.name %>
        </td>
        <td>
          <%= publication.strain&.name %>
        </td>
        <td>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Upload", new_upload_path %>
