<div class='row mx-3'>

  <div class='col-md-12' style='padding: 20px;'>
    <div class='card'>
      <div class='card-body'>
        <div class='card-title'>Compare to other Graves</div>
        <div class='card-text'>
          <%= simple_form_for :compare, url: stats_publication_path(@publication), method: "GET", html: { class: 'form-inline' } do |f| %>
            <div class='row'>
              <%= f.input :publication_id,
                      collection:
                        Publication.accessible_by(current_ability).where.not(id: @publication.id).all.map { [_1.short_description, _1.id] },
                      as: :check_boxes,
                      checked: params.dig(:compare, :publication_id) %>
            </div>
            <%= f.input :special_mark_graves,
                    as: :text,
                    input_html: {
                      value: params.dig(:compare, :special_mark_graves)
                    } %>
            <%= f.input :exclude_graves,
                    as: :text,
                    input_html: {
                      value: params.dig(:compare, :exclude_graves)
                    } %>
            <%= f.submit "Update", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-12' style='padding: 20px;'>
    <div class="card">
      <div class='row'>
        <div class='p-5 col-md-6'>
          <h5 class="card-title">Grave PCA (width, depth, length, bounding box orientation)</h5>
          <% unless @graves_pca.empty? %>
            <%= react_component('ScatterChart', props: { colors: @hex_colors, data: @graves_pca }) %>
          <% end %>
        </div>

        <div class='col-md-6 p-5'>
          <h5 class="card-title">EFD PCA</h5>

          <% unless @graves_pca.empty? %>
            <%= react_component('ScatterChart', props: { colors: @hex_colors, data: @outlines_pca_data }) %>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <div class="card-text">
          <table class='table'>
            <tbody>
              <% @pca.explained_variance_ratio.to_a.each_with_index do |variance_ratio, index| %>
                <tr>
                  <td>PCA
                    <%= index + 1 %></td>
                  <td><%= (variance_ratio * 100).round %>%</td>
                </tr>
              <% end %>

              <% @variances.each do |variance| %>
                <tr>
                  <td>Variance
                    <%= variance[:name] %></td>
                  <td><%= variance[:variance].round(2) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-6' style='padding: 20px;'>
    <div class="card">
      <%== Charts::AngledLinesRadarChart.new(
        @grave_angles,
        html_class: "card-img-top"
      ).render %>
      <div class="card-body">
        <h5 class="card-title">Grave Orientation by Bounding Boxes</h5>
        <div class="card-text">
          <table class='table'>
            <thead>
              <tr>
                <th>Angle (group by 10 degree)</th>
                <th>N</th>
              </tr>
            </thead>

            <tbody>
              <% @grave_angles.map { _1.round(-1) }.tally.to_a.sort_by { _1[0] }.each do |angle, count| %>
                <tr>
                  <td>
                    <%= angle %>
                  </td>

                  <td>
                    <%= count %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-6' style='padding: 20px;'>
    <div class="card">
      <%== Charts::ClusterRadarChart.new(@skeleton_angles).render %>
      <div class="card-body">
        <h5 class="card-title">Grave Orientation by Skeletons (30 degree groups)</h5>
        <div class="card-text">
          <div>
            <%= @u_result %>
          </div>

          <table class='table'>
            <thead>
              <tr>
                <th>Angle (grouped by 30 degree)</th>
                <th>N</th>
              </tr>
            </thead>

            <tbody>
              <% @skeleton_angles.sort_by { _1[0] }.each do |skeletons, count| %>
                <tr>
                  <td>
                    <%= skeletons %>
                  </td>

                  <td>
                    <%= count %>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td>
                  Total
                </td>

                <td>
                  <%= @skeleton_angles.map { _1[1] }.sum %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-6' style='padding: 20px;'>
    <div class="card">
      <%= pie_chart @skeleton_per_grave_type, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Number of Skeletons per Grave</h5>
        <div class="card-text">
          <table class='table'>
            <thead>
              <tr>
                <th>Skeletons</th>
                <th>N</th>
              </tr>
            </thead>

            <tbody>
              <% @skeleton_per_grave_type.each do |skeletons, count| %>
                <tr>
                  <td>
                    <%= skeletons %>
                  </td>

                  <td>
                    <%= count %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-12' style='padding: 20px;'>
    <div class="card">
      <div class='row'>
        <div class='p-5 col-md-6'>
          <h5 class="card-title">Heatmap Data of Artefact Distribution</h5>
          <%= react_component('Heatmap', props: { data: @heatmap_data[:artefacts], graves: @heatmap_data[:graves] }) %>
        </div>
      </div>
    </div>
  </div>


  <div class='col-md-12' style='padding: 20px;'>
    <div class="card">
      <div class='row'>
        <% @publications.each_with_index do |publication, index| %>
          <%= render GraveOutlinesComponent.new(
            color: @colors[index],
            subtitle: "#{publication.author} #{publication.year}",
            title: publication.title,
            graves: publication.graves.select { !@excluded_graves.include?(_1.id) }
          ) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
