<%= render("stepper") %>

<% unless @grave.page.image.exists? %>
  <div class="alert alert-danger" role="alert">
    No page image found, it is not recommended to make any changes.
  </div>
<% end %>

<div class='row'>
  <div class='col-md-6'>
    <%= render(
      FigureViewComponent.new(figures: @grave.figures, image: @grave.page.image)
    ) %>
  </div>

  <div class='col-md-6'>
    <%= simple_form_for(@grave, url: wizard_path) do |f| %>
      <%= f.input :identifier %>
      <%= f.submit("Next", class: "btn btn-primary") %>
    <% end %>
    <%= link_to("Delete", grave_path(@grave), method: :delete, class: 'btn btn-danger mt-2', 'data-confirm': 'Are you sure?') %>
  </div>
</div>
