<div class='row m-3'>
  <div class='card col-md-12 mt-2 mb-3'>
    <div class='card-body'>
      <h5 class="card-title">Species</h5>
      <div class='card-text'>
        <form class="row g-3">
          <div class="col-auto">
            <label for="site-name" class="visually-hidden">Site Name</label>
            <input
              value="<%= params.dig(:site, :name) %>"
              type="text"
              name='site[name]'
              class="form-control"
              id="site-name"
              placeholder="Name"
            >
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class='card'>
    <div class='card-body'>
      <div class='card-text'>
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @strains.each do |strain| %>
              <tr>
                <td><%= strain.name %></td>
                <td><%= link_to "Edit", edit_strain_path(strain) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%== pagy_bootstrap_combo_nav_js(@sites_pagy) %>
      </div>
    </div>
  </div>
</div>

<%= link_to("New Species", new_strain_path, class: 'btn btn-success') %>
