
<!DOCTYPE html>
<html>
  <head>
    <title>Dfgrb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <title>Bootstrap demo</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body class='text-center login-body'>
    <% flash.each do |type, msg| %>
      <div class="alert alert-primary" role="alert">
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
